functions-framework
docxtpl
requests
google-cloud-storage
google-cloud-secret-manager
pydantic
jsonschema
python-docx
Jinja2
MarkupSafe
PyJWT
# Test dependencies
pytest
pytest-cov
supabase-py
pytest-mock
pytest-env